<div>
    <p><b>Esercizi</b></p>
    <ol>
        <li>Rendi tutti i paragrafi verdi </li>
        <li>Rendi tutti gli elementi con la classe <code>text-red</code> con il testo rossi</li>
        <li>Rendi il secondo e il terzo elemento dell'elenco viola</li>
        <li>Rendi tutti i link di color arancione</li>
        <li>Fai si che il link a Google abbia background di colore azzurro</li>
        <li>Fai siche il link al pdf abbia una bordo inferiore di 2px</li>
        <li>Assegna un <code>display:none</code> a tutte le immagini che hanno un src vuoto</li>
    </ol>
</div>
<form class="excercise">
    <div>
        <p class="">Testo prima della lista</p>
        <p class="text-red">Secondo paragrago</p>
        <ul>
            <li>Bianco</li>
            <li>Arancione</li>
            <li class="text-red">Verde</li>
        </ul>
        <a href="https://google.it" target="_blank">Vai su google</a>
        <br>
        <a href="https://scarica.it/file.pdf">Scarica il pdf</a>
        <img src="" alt="">
    </div>
</form>