<div>
    <p><b>Esercizi</b></p>
    <ol>
        <li>Fai si che il secondo elemento dell'elenco, all'hover, diventi azzurro</li>
        <li>Fai si che i link che mandino ad una nuova finestra, finiscano con il testo "(Apri in nuova finestra)"</li>
        <li>Fai si che i link che mandino ad un pdf, Inizino con il testo "(Scarica)"</li>
        <li>Rendi il paragrafo con la classe text-red, l'unico visible.</li>
    </ol>
</div>
<form class="excercise">
    <div>
        <p class="">Testo prima della lista</p>
        <p class="text-red">Secondo paragrago</p>
        <ul>
            <li>Bianco</li>
            <li>Arancione</li>
            <li class="text-red">Verde</li>
        </ul>
        <a href="https://google.it" target="_blank">Vai su google</a>
        <br>
        <a href="https://scarica.it/file.pdf"> pdf</a>
    </div>
</form>