<div>
    <p>Completa gli esercizi</p>
    <ol>
        <li>Rendi visibiile solo il div primary-content per i dispositiv con viewport fino a 767px</li>
        <li>Rendi visibiile solo il div tablet-content per i dispositi con viewport tra 768px e 1024px</li>
        <li>Rendi visibiile solo il div tablet-content per i dispositi con viewport da 1024px</li>
        <li>Rendi visibile i paragrafi landscape e portrait solo quando il disposivivo è nel relativo orientamento</li>
    </ol>
    <p><b>Non cambiare  l'html!</b></p>
</div>

<div class="main">
    <div class="primary-content">
        <h1>Visibile solo da mobile</h1>
        <p>Portrait</p>
        <p>Landscape</p>
    </div>
    <div class="tablet-content">
        <h1>Visibile solo da Tablet</h1>
        <p>Portrait</p>
        <p>Landscape</p>
    </div>
    <div class="primary-desktop">
        <h1>Visibile solo da desktop</h1>
    </div>
</div>
