
:root {
	--form-padding-x: 			1.25rem;
	--form-padding-y: 			0.45rem;
	--form-font-size: 			0.875rem;
	--input-border: 			1px solid #e4e4e4;
	--form-border-radius: 		.2rem;
	--input-background: 		transparent;
	--input-color: 				#444;
	--color-placeholder: 		var(--input-color);
}
